doctype html
html
  head
    title #{name}'s Resume
    style !{__style}
  body
    header.resume-header
      address.rh-address.rh-address--left
        strong School Address
        br
        = address.school
      div.rh-about
        h1.rh-about-name= name
        p.rh-about-email= email
      address.rh-address.rh-address--right
        strong Permanent Address
        br
        = address.permanent
    main
      each section in sections
        section.section
          h2.section-header= section.name
          hr
          p.section-description= section.description
          if section.items
            ul.rh-section-list
              each i in section.items
                li
                  if i.date
                    p.item-date= i.date
                    h3
                      span.item-name= i.name
                      if i.location
                        span.item-location , #{i.location}
                  ul
                    if i.description
                      li.item-description= i.description
    footer
      if referencesUponRequest
        hr
        h3 References available upon request.
        hr
