//-
  Copyright 2015 Cm_Star. All Rights Reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  the License for the specific language governing permissions and
  limitations under the License.

//- Mixins

mixin items(items)
  each item in items
    li.item
      case __opts.density
        when "compact"
          div.item-wrap
            div.item-header
              h3.item-title= item.title
              if item.location
                p.item-location= item.location
              if item.date
                div.spacer
                p.item-date= item.date
            if item.description
              p.item-description= item.description
        when 'comfortable'
        when 'cozy'
          div.item-wrap
            div.item-header
              h3.item-title= item.title
              if item.location
                p.item-location= item.location
            if item.description
              p.item-description= item.description
          if item.date
            p.item-date= item.date

//- Page

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="author" content="#{name}")
    title #{name}'s Resume
    style!= __theme
    style.
      .item-location::before {
        content: ", ";
      }
  body
    header.header
      if __opts.density === 'comfortable' || __opts.density === 'cozy'
        h1.header-about-name= name
      div.header-wrap
        address.header-address.header-address--left
          strong.header-address-title School Address
          br
          = address.school
        div.spacer
        div.header-about
          if __opts.density === 'compact'
            h1.header-about-name= name
          p.header-about-email= email
          p.header-about-phone= phone
        div.spacer
        address.header-address.header-address--right
          strong.header-address-title Permanent Address
          br
          = address.permanent
    main
      each section in sections
        section.section
          h2.section-title= section.title
          if section.description
            p.section-description= section.description
          if section.items
            ul.item-list
              +items(section.items)
          if section.bullet_items
            ul.item-list.item-list--bulleted
              +items(section.bullet_items)
    footer
      if referencesUponRequest
        h3.references-notice References available upon request.
